body{
    font-family: 'Open Sans', sans-serif;
    /* DEBUG */
    /* height: 2000px; */
}



/* NavBar */
.ms_logo{
    width: 40px;
    height: 40px;
}
.ms_search_bar{
    padding: 0px 50px;
    background: url(../img/magnifying-glass-solid.svg) no-repeat 5px;
}

/* Side Bell */
.ms_side_bell{
    width: 100px;
}

/* Bell */
.ms_bell{
    border: 0;
    color: #ff8e02;
    background-color: #f8f9fa;
}



/* Main */
main{
    padding-top: 60px;
}

/* Main Height */
.ms_main_height{
    height: calc(100vh - 60px);
}

/* ToolBar */
.ms_toolbar_width:hover{
    background-color: rgb(255, 255, 255, 0.2);
}
.ms_min_width_side_toolbar{
    min-width: 200px;
}

/* Main Page */
.ms_col_color{
   background-color: #1b72e8; 
}
.ms_plan{
    border-radius: 40px;
    background-color: rgb(0, 0, 0, 0.2);
}

/* Marked-Block */
.ms_marked_block{
    width: 100%;
    background-color: gray;
    border-radius: 10px 10px 0px 0px;
    /* DEBUG */
    height: 110px;
}
/* Smarked-Block */
.ms_smarked_block{
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    /* DEBUG */
    min-height: 110px;
}










/* DEBUG */
.ms_b_container{
    border: solid red 1px;
    background-color: #051e34;
}
.ms_d_test{
    width: 100px;
    height: 100px;
    background-color: black;
}